<mat-card class="example-card">
  <mat-card-content>
    <div class="Slider">
      <mat-card-subtitle>¿Cuántas minutos de espera?</mat-card-subtitle>
      <mat-slider class="slider-example" min="1" max="60" step="1" value="1.5"></mat-slider>
    </div>
    <div class="Slider">
      <mat-card-subtitle>¿Cuántas personas hay en cola?</mat-card-subtitle>
      <mat-slider class="slider-example" min="1" max="60" step="1" value="1.5"></mat-slider>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="button-example">Enviar</button>
  </mat-card-actions>
</mat-card>