<div class="map-container">
 <div class="map-frame">
  <div class="dropdown">
   <div id="map" class="mymap">
    <img src="../../assets/images/logo.png" class="filaIndia" />
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
     aria-haspopup="true" aria-expanded="false">
     Compartir <span></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
     <button class="dropdown-item whatsapp" type="button"><img src="../../assets/images/whatsapp.png"
       class="logo w" />Whatsapp</button>
     <button class="dropdown-item facebook" type="button"><img src="../../assets/images/Facebook.png"
       class="logo f" />Facebook</button>
    </div>
   </div>
  </div>
 </div>
</div>